<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="cacheEnabled" value="false"/>
        <setting name="lazyLoadingEnabled" value="false"/>
        <setting name="aggressiveLazyLoading" value="false"/>
        <setting name="autoMappingBehavior" value="NONE"/>
        <setting name="autoMappingUnknownColumnBehavior" value="FAILING"/>
        <setting name="lazyLoadTriggerMethods" value=""/>
        <setting name="logPrefix" value=""/>
        <setting name="logImpl" value="SLF4J"/>
        <setting name="proxyFactory" value="JAVASSIST"/>
    </settings>
    <typeAliases>
        <typeAlias alias="monitoringObject" type="io.binakot.demo.model.entity.MonitoringObject"/>
    </typeAliases>
    <mappers>
        <mapper resource="mappers/MonitoringObjectMapper.xml"/>
    </mappers>
</configuration>
